/*
@font-face {
  font-family: 'DancingScript';
  src: url('fonts/DancingScript-Regular.ttf');
}*/

body{
  font-family: 'Dancing Script', arial;
  background-color: #02010a;

}


header{
  color: white;
  text-shadow: 0 0 2px #02010A;
  text-align: center;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
}

.enlace_actual{
  color: white;
  text-decoration: none;
}

.enlaces{
  color: white;
}

/*
article [id*="columna"]{
  height: 200px;
}
*/

#imagen_principal{
  text-align: center;
  background-color: #82c3a6;
  width: 100%;
}


#columna1 img{
  width: 80%;
  margin: 1%;
}

/*#columna2, #columna3{
  text-align: center;
  background-color: #d5c75f;
  border: 1px;
}*/

#imagenes_secundarias{
  text-align: center;
  background-color: #d5c75f;
  border: 1px;
  width: 100%;
  display: flex;
  flex-direction: row wrap;
}


#columna2 a img, #columna3 a img{
  width: 80%;
  margin: 1%;
}



footer{
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
  display: flex;
  flex-direction: column;
}

footer section{
  margin: 1%;
  flex-grow: 1;
}


@media screen and (min-width: 900px){
  #contenido{
    width: 900px;
    margin: auto;
  }
  /*#contenido{
    width: 900px;
    text-align: center;
  }*/
  /*
  #imagenes_secundarias{
    flex-direction: column;
  }
  */

  footer{
    flex-direction: row;
  }
}
