/*
@font-face {
  font-family: 'DancingScript';
  src: url('fonts/DancingScript-Regular.ttf');
}*/

body{
  /*problemas margin top*/
  font-family: 'Dancing Script', arial;
  background-color: #02010a;
}

#contenido{
  width: 100%;
  margin: auto;
}

img{
  box-shadow: 2px 2px #02010a;
}

header{
  color: white;
  text-shadow: 0 0 2px #02010A;
  text-align: center;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
}

.enlace_actual{
  color: white;
  text-decoration: none;
}

.enlaces{
  color: white;
}

#imagen_principal{
  text-align: center;
  background-color: #82c3a6;
  width: 100%;
}


#imagen1{
  width: 80%;
  margin: 1%;
}

#imagenes_secundarias{
  text-align: center;
  background-color: #d5c75f;
  border: 1px;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.seccion{
  text-decoration: underline;
}

#imagen2, #imagen3{
  text-align: center;
  width: 80%;
  margin: 2%;
  transition: transform 1s;
}


#imagen2:hover{
  box-shadow: 2px 2px #82c3a6;
  transform: rotate(10deg);
}

#imagen3:hover{
  box-shadow: 2px 2px #82c3a6;
  transform: translate(20px, -5px);
}

.galeria{
  background-color: #d5c75f;
  display: flex;
  flex-flow: column;
}

.galeria div{
  margin: 2%;
  text-align: center;
}

.galeria div img{
  width: 80%;
}

.galeria div:nth-child(1){
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.galeria div:nth-child(3){
  -webkit-filter: sepia(90%);
  filter: blur(90%);
}

.galeria div:nth-child(even){
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


footer{
  text-align: center;
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
  display: flex;
  flex-flow: column;
}

footer section{
  margin: 1%;
  flex-grow: 1;
}


@media screen and (min-width: 900px){
  #contenido{
    width: 900px;
    margin: auto;
  }
  /*#contenido{
    width: 900px;
    text-align: center;
  }*/

  #imagen1, #imagen2, #imagen3{
    margin: auto;
  }

  #imagenes_secundarias{
    flex-flow: row;
  }

  .galeria{
    flex-flow: row wrap;
  }

  .galeria div{
    flex: 1 2 25%;
  }


  footer{
    flex-flow: row;
  }

  footer section{
    margin: auto;
  }
}
